.github/
.vscode/
.vscode-test/
.vscode-test-web/
out/tests/
scripts/
src/
.gitattributes
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
ansible.cfg
zread-only
ztest
ztest-inline
tsconfig.json